/*
	输入框样式
*/
.textbox {
	border: 1px solid #ddd;
	padding: 0 5px;
	-webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.textbox:hover {
	border: 1px solid #52B2FC;
    box-shadow: 0 0 3px #52B2FC;
}


/*
	自适应正方形
*/
.square {
	display: block;
    height: 0;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    img {
	    position: absolute;
	    top: 0;
	    left: 0;
	    transition: all 0.5s ease 0s;
	    z-index: 0;
	    width: 100%;
	}
}
/*
    列表图片鼠标悬停效果
*/
.img-overlay {
    background: rgba(255, 68, 0, 0.1) none repeat scroll 0 0;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s ease 0s;
    width: 100%;
    text-align: center;
    display: inline-block;
    z-index: 2;
}
.img-overlay:hover {
    opacity: 1;
}
.img-overlay:hover + img {
	transform: scale(1.2);
}
.img-overlay > span {
    border: 1px solid #fff;
    font-size: 12px;
    margin-top: -17px;
    line-height: 32px;
    text-decoration: none;
    width: 82px;
    display: block;
    letter-spacing: 1px;
    margin-left: -41px;
    position: relative;
    text-transform: uppercase;
    top: 50%;
    text-align: center;
    color: #fff;
    left: 50%;
}

/*
	其他
*/
.img-circle {
	border-radius: 50%;
}
.error {
	color: #CF262C;
}
/*下拉框*/
.ui-select {
	border: 1px solid #eee;
	display: inline-block;
	height: 28px;
	vertical-align: middle;
	overflow: hidden;
	position: relative;
	width: 138px;
	background: #fafafa;
}
.ui-select select {
	background: #fafafa;
	border: none;
	position: absolute;
	left: -1px;
	top: 4px;
	width: 100%;
	height: 18px;
	line-height: 18px;
	font-size: 12px;
}
/*
  ui-label
*/
.ui-label-blue, .ui-label-black, .ui-label-yellow, .ui-label-green, .ui-label-red {
	background: #448aff;
	padding: 0 10px;
	line-height: 20px;
	color: #fff;
	border-radius: 3px;
	display: inline-block;
	line-height: 22px;
	vertical-align: middle;
}
.ui-label-black {
  	background: #37474f;
}
.ui-label-yellow {
  	background: #ffb300;
}
.ui-label-red {
  	background: #f44336;
}
.ui-label-green {
  	background: #4caf50;
}

